[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = {version = "==8.0.0", extras = ["django"]}
djangorestframework = "==\"*"
django-cors-headers = "==\"3.10.0"
mysqlclient = "==\"*"
boto3 = "==\"*"
djangorestframework-gis = "==\"*"
urllib3 = "==\"1.26.4"
Django = "==\"3.2.8"

[dev-packages]

[requires]
python_version = "3.9"
